<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Handlebars Boilerplate</strong> created by <a href="https://www.adamcjarvis.com">Adam Jarvis</a>.
    </p>
  </div>
</footer>