{{#> layouts/default
  pageTitle="Handlebars Boilerplate"
}}

{{#*inline "header-block"}}
{{/inline}}

{{#*inline "content-block"}}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="adam">Handlebars Boilerplate</h1>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}

{{/layouts/default}}